mat-form-field {
    display: block;
}

mat-card-title {
    padding-bottom: 10px;
}

mat-divider {
    padding: 10px;
}

.login-form {
    width: 400px;
    flex: auto;
    align-content: center;
    margin: 0 auto;
}

.align-end {
    display: flex;
    justify-content: flex-end;
}