<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Estudiantes
            </mat-card-title>
        </mat-card-header>
        <mat-divider/>
        <mat-card-content>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Código</th>
                        <th>Programa ID</th>
                    </tr>
                </thead>
                <tbody>
                    @for (estudiante of estudiantes; track $index) {
                    <tr>
                        <td>{{ estudiante.id}}</td>
                        <td>{{ estudiante.nombre}}</td>
                        <td>{{ estudiante.apellido}}</td>
                        <td>{{ estudiante.codigo}}</td>
                        <td>{{ estudiante.programaId}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>